@model FilmProj.ViewModels.MovieVm

    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="@Model.Movie.ImgUrl" />
            </div>
            @Model.UserId.Name
            

            <div class="col-md">
                <div class="container" style="height:400px">
                    <div class="row" style="height:15%">
                        <h1>@Model.Movie.Title</h1>

                    </div>
                    <div class="row" style="height:10%">
                        <b>Director: @Model.Movie.Director</b>
                    </div>
                    <div class="row" style="height:60%">
                        <p>@Model.Movie.Description</p>
                    </div>

                    <div class="row" style="height:30%">
                        <p>
                            <a class="links" asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a>
                            <a class="links" asp-action="AddToWatch" asp-route-movieid="@Model.Movie.Id" asp-route-name="@Model.UserId.Name">To watch</a>
                            <a class="links" asp-action="AddWatched" asp-route-id="@Model.Movie.Id">Watched</a>


                        </p>
                    </div>
                </div>

            </div>
        </div></div>